<link rel="stylesheet" href="/css/form.css">
<div id="form">
    <form action="/submit-form" method="post">
        <input type="text" name="name" placeholder="Enter habit" id="form1" required>
        <input type="text" name="time" placeholder="Enter time" id="form1" required>
        <input type="text" name="day" placeholder="Enter day" id="form1" required>
        <input type="text" name="best" placeholder="Enter best" id="form1" required>
        <input type="text" name="number" placeholder="Enter number" id="form1" required>
        <input type="submit" value="Submit" id="button">
    </form>
</div>