#form {
  padding-top: 20px;
  max-width: 900px;
  text-align: center;
  margin: 0 auto; }
  #form #form1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; }
  #form #button {
    padding: 7px 20px;
    background-color: lightcoral;
    color: red;
    font-size: 1.3rem;
    font-weight: 1rem; }
